<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mk.myandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.LayoutActivity"
            android:label="@string/title_activity_layout" >
        </activity>
        <activity
            android:name=".layout.NeonlightActivity"
            android:label="@string/title_activity_neonlight" >
        </activity>
        <activity
            android:name=".layout.LinearActivity"
            android:label="@string/title_activity_linear" >
        </activity>
        <activity
            android:name=".layout.PanelActivity"
            android:label="@string/title_activity_panel" >
        </activity>
        <activity
            android:name=".lifetime.LifetimeActivity"
            android:label="@string/title_activity_lifetime" >
        </activity>
        <activity
            android:name=".lifetime.DatatransmissionActivity"
            android:label="@string/title_activity_datatransmission" >
        </activity>
        <activity
            android:name=".service.ServiceActivity"
            android:label="@string/title_activity_service" >
        </activity>

        <service android:name=".service.EchoService" >
        </service>

        <!--
        <receiver android:name=".broadcastreceiver.MyBC" >
        </receiver>
        -->

        <activity
            android:name=".broadcastreceiver.BroadcastreceiverActivity"
            android:label="@string/title_activity_broadcastreceiver" >
        </activity>
        <activity
            android:name=".contentprovider.ContentproviderActivity"
            android:label="@string/title_activity_contentprovider" >
        </activity>
        <activity
            android:name=".intent.IntentActivity"
            android:label="@string/title_activity_intent" >
        </activity>
        <activity
            android:name=".intent.ActionActivity"
            android:label="@string/title_activity_action" >
            <intent-filter>
                <action android:name="com.mk.myandroid.intent.action.actionactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent.ImageviewerActivity"
            android:label="@string/title_activity_imageviewer" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="image/*"
                    android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listview.ListviewActivity"
            android:label="@string/title_activity_listview" >
        </activity>
        <activity
            android:name=".listview.ListcellActivity"
            android:label="@string/title_activity_listcell" >
        </activity>
        <activity
            android:name=".listview.CustomListviewActivity"
            android:label="@string/title_activity_custom_listview" >
        </activity>
        <activity
            android:name=".listview.CustomListView2Activity"
            android:label="@string/title_activity_custom_listview" >
        </activity>
        <activity
            android:name=".ui.UiListActivity"
            android:label="@string/title_activity_ui_list" >
        </activity>
        <activity
            android:name=".ui.radiogroup.UsingRadioGroupActivity"
            android:label="@string/title_activity_using_radio_group" >
        </activity>
        <activity
            android:name=".ui.checkbox.UsingCheckBoxActivity"
            android:label="@string/title_activity_using_check_box" >
        </activity>
        <activity
            android:name=".ui.datepicker.UsingDatePickerActivity"
            android:label="@string/title_activity_using_date_picker" >
        </activity>
        <activity
            android:name=".ui.timepicker.UsingTimePickerActivity"
            android:label="@string/title_activity_using_time_picker" >
        </activity>
        <activity
            android:name=".ui.spinner.UsingSpinnerActivity"
            android:label="@string/title_activity_using_spinner" >
        </activity>
        <activity
            android:name=".ui.progressbar.UsingProgressBarActivity"
            android:label="@string/title_activity_using_progress_bar" >
        </activity>
        <activity
            android:name=".ui.autocomplete.UsingAutoCompleteActivity"
            android:label="@string/title_activity_using_auto_complete" >
        </activity>
        <activity
            android:name=".ui.seekbar.UsingSeekBarActivity"
            android:label="@string/title_activity_using_seek_bar" >
        </activity>
        <activity
            android:name=".ui.gridview.UsingGridViewActivity"
            android:label="@string/title_activity_using_grid_view" >
        </activity>
        <activity
            android:name=".ui.progressdialog.UsingProgressDialogActivity"
            android:label="@string/title_activity_using_progress_dialog" >
        </activity>
        <activity
            android:name=".ui.notification.UsingNotificationActivity"
            android:label="@string/title_activity_using_notification" >
        </activity>
        <activity
            android:name=".ui.scrollview.UsingScrollViewActivity"
            android:label="@string/title_activity_using_scroll_view" >
        </activity>
        <activity
            android:name=".ui.ratingbar.UsingRatingBarActivity"
            android:label="@string/title_activity_using_rating_bar" >
        </activity>
        <activity
            android:name=".ui.imageswitcher.UsingImageSwitcherActivity"
            android:label="@string/title_activity_image_switcher" >
        </activity>
        <activity
            android:name=".ui.gallery.UsingGalleryActivity"
            android:label="@string/title_activity_using_gallery" >
        </activity>
        <activity
            android:name=".ui.edittext.UsingEditTextActivity"
            android:label="@string/title_activity_using_edit_text" >
        </activity>
        <activity
            android:name="com.mk.myandroid.ui.baseadapter.UsingBaseAdapterActivity"
            android:label="@string/title_activity_using_base_adapter" >
        </activity>
    </application>

</manifest>
